{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-3">
        <h1>Voir tout nos biens </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum incidunt officiis suscipit rem eius, corrupti adipisci libero consequatur totam nihil inventore quam quo sapiente eligendi harum iste delectus eum natus.</p>
    </div>
{% endblock %}